<section class="drawer drawer-left" id="drawer" data-drawer-target>
    <div class="drawer-overlay" data-drawer-close tabindex="-1"></div>
    <div class="drawer-wrapper">
        <div class="drawer-header">
            <div class="drawer-title">
                <h2>{{ title }}</h2>
            </div>
            <button
                class="drawer-close"
                data-drawer-close
                aria-label="Close Drawer"
            ></button>
        </div>
        <div class="drawer-content">
            <ng-content></ng-content>
        </div>
    </div>
</section>
